.totals {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.totals > * {
  font-size: 1.6rem;
  margin: 0;
}

.totals > h2 {
font-family: Inter;
font-weight: 600;
font-size: 22px;
line-height: 100%;
letter-spacing: 0;

}

.totals * {
  line-height: 1;
}

.totals > * + * {
  margin-left: 2rem;
}

.totals__total {
  margin-top: 1.5rem;
}

.totals__total-value {
  font-family: Inter;
font-weight: 600;
font-size: 22px;
line-height: 100%;
letter-spacing: -2%;

}

.cart__ctas + .totals {
  margin-top: 2rem;
}

@media all and (min-width: 750px) {
  .totals {
    /* changes cart-page  */
    justify-content: space-between;
  }
}
